#commentsForm
{
	background-color : C3C6FE;
	width : 2000px;
	height : 1500px;
	margin-top : -10px;
	margin-left : -10px;
}

.fieldClass
{
	width : 350px;
	padding-top : 10px;
	padding-bottom : 10px;
}

.middle *
{
	vertical-align : middle;
}

span
{
	display: inline-block;
}

#Login
{
	margin-top : 10px;
	margin-left : 10px;
}

#commentsSection
{
	margin-left : 10px;
	margin-top : 10px;
	padding : 10px;
	width : 400px;
}

#submit
{
	margin-left : 100px;
}

.labelClass
{
	width : 100px;
}

.clicked
{
	background-color : C3C6FE;
}

.notClicked
{
	background-color : none;
}

.inputClass
{
	width : 150px;
}

.commentsClass
{
	background-color : C3C6FE;
}

#errorSection
{
	color : #FF0000;
}